.mule/plugins-tmp/repository/4.3.0/org/mule/module/mule-java-module/1.2.6/mule-java-module-1.2.6-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/java" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/java" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="InvokeType" substitutionGroup="mule:abstract-operator" name="invoke">
    <xs:annotation>
      <xs:documentation>Operation that allows the user to invoke methods with the provided args on the given instance. The identifier of the Method to be invoked includes the class and method names, being the method a full description of its signature including the types of each parameter. &lt;p&gt; For example, if we want to invoke the method echo with signature public String echo(String msg) which belongs to Class org.bar.Foo, then the identifier of the method will be "echo(String)"</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InvokeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="args">
            <xs:annotation>
              <xs:documentation>the arguments used to invoke the given Method. This parameter must be a map with the names of the method arguments as keys, and each of the argument values as values. For example, given a method echo with signature public String echo(String msg, String volume) a possible value for args is: #[{ msg : 'This is a message to echo', volume : 'Loud' }] In order to use those argument names the java class must be compiled with -parameters, in other case you have to use the canonical names for the arguments: #[{ arg0 : 'This is a message to echo', arg1 : 'Loud' }] You can always use the canonical name for the arguments, even if the source code was compiled with -parameters.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="instance">
          <xs:annotation>
            <xs:documentation>the instance on which the method will be invoked</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this invocation will output</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this invocation will output</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="class">
          <xs:annotation>
            <xs:documentation>Represents the fully qualified name of the Class containing the referenced Method.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="method">
          <xs:annotation>
            <xs:documentation>Represents the Method signature containing the method name and it's argument types. &lt;p&gt; For example, for the method with signature public String log(String msg, boolean verbose) then the identifier of the method will be "log(String, boolean)"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/java" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="InvokeStaticType" substitutionGroup="mule:abstract-operator" name="invoke-static">
    <xs:annotation>
      <xs:documentation>Operation that allows the user to invoke static methods with the provided arguments. The identifier of the Method to be invoked includes the class and method names, being the method a full description of its signature including the types of each parameter. &lt;p&gt; For example, if we want to invoke the static method echo with signature public static String echo(String msg) which belongs to Class org.bar.Foo, then the identifier of the method will be "echo(String)"</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InvokeStaticType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="args">
            <xs:annotation>
              <xs:documentation>the arguments used to invoke the given Method. This parameter must be a map with the names of the method arguments as keys, and each of the argument values as values. For example, given a method echo with signature public String echo(String msg, String volume) a possible value for args is: #[{ msg : 'This is a message to echo', volume : 'Loud' }] In order to use those argument names the java class must be compiled with -parameters, in other case you have to use the canonical names for the arguments: #[{ arg0 : 'This is a message to echo', arg1 : 'Loud' }] You can always use the canonical name for the arguments, even if the source code was compiled with -parameters.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this invocation will output</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this invocation will output</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="class">
          <xs:annotation>
            <xs:documentation>Represents the fully qualified name of the Class containing the referenced Method.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="method">
          <xs:annotation>
            <xs:documentation>Represents the Method signature containing the method name and it's argument types. &lt;p&gt; For example, for the method with signature public static String log(String msg, boolean verbose) then the identifier of the method will be "log(String, boolean)"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/java" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="NewType" substitutionGroup="mule:abstract-operator" name="new">
    <xs:annotation>
      <xs:documentation>Operation that allows the user to create a new instance of the given class The identifier of the Constructor to be used includes the class and constructor names, being the constructor a full description of its signature including the types of each parameter. &lt;p&gt; For example, if we want to invoke the constructor Foo(String name, int age) which belongs to Class org.bar.Foo, then the identifier of the method will be "Foo(String,int)"</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NewType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="args">
            <xs:annotation>
              <xs:documentation>the arguments used to invoke the given Constructor</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="class">
          <xs:annotation>
            <xs:documentation>Represents the fully qualified name of the Class containing the referenced Method.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="constructor">
          <xs:annotation>
            <xs:documentation>Represents the Constructor signature containing the name and it's argument types. &lt;p&gt; For example, for the Constructor with signature public Foo(String name, Integer age) then the identifier of the method will be "Foo(String, Integer)"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/java" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ValidateTypeType" substitutionGroup="mule:abstract-operator" name="validate-type">
    <xs:annotation>
      <xs:documentation>Operation that allows the user to validate that a given instance is an instanceof the specified class.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ValidateTypeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="class"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="instance">
          <xs:annotation>
            <xs:documentation>the object whose type is expected to be an instanceof of the given class</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="acceptSubtypes">
          <xs:annotation>
            <xs:documentation>whether or not to accept sub types of the given class or if the instance has to be of the exact same class</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>